
  <div id="nav-containerx"class="d-inline" >
    <div id="nav" class="sidebar ">
      <div class="logo-details">
        <div class="logo_name">AAL</div>
        <i class='bx bx-menu' id="btn"></i>
      </div>
      <ul class="nav-list">
    
        <li>
          <a [routerLink]="['/dashboard']">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a  [routerLink]="['/table']">
            <i class='bx bx-table'></i>
            <span class="links_name">Table</span>
          </a>
          <span class="tooltip">Table</span>
        </li>
        <li>
          <a>
            <i class='bx bx-cog'></i>
            <span class="links_name">Setting</span>
          </a>
          <span class="tooltip">Setting</span>
        </li>
    
      </ul>
    </div>
  </div>
    
