<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <div class="ms-auto d-flex align-items-center position-relative">
            <span class=" d-lg-inline mr-2 text-gray-600 small me-2 " id="user">Anas Mohamed</span>
            <img class="border rounded-circle img-profile"
                src="../../assets/images/pyramids-with-beautiful-sky-giza-cairo-egypt_87394-2.jpg" width="30px"
                height="30px">
            <ul id="nav-nav-person" class=" list-unstyled position-absolute top-100 bg-light p-2 rounded-3 shadow-sm">
                <li>
                    <i class='bx bxs-user bx-tada'></i>
                    <span class="ms-3">Profile</span>
                </li>
                <hr>
                <li (click)='logout()'>
                    <i class='bx bx-log-out bx-tada' ></i>
                    <span class="ms-3">Logout</span>
                </li>
            </ul>
        </div>
    </div>
</nav>